@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  font-family: 'Karla', sans-serif;
  background: rgba(0,0,0,1);
  color: #eee;
  margin: 0;
}
.header-img{
  padding-bottom: 20px;
  width:270px;
}
p{
  margin: 0;
}
h1{
  padding-top: 10px;
  font-size: 3em;
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: #eee;
}
h4{
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 1.75rem;
  text-align: center;
}
/*  */
h1 span{
  color: #fffa00;
}
/* container master */
.container-master{
  background: #000;
  display: flex;
}
.container{
  width: 100%;
  display: inline-flex;
  padding: 0px;
}
/* create form */
.workoutForm{
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 20px 20px 20px 0px;
}
.container .workoutForm form{
  color: #eee;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  background: #232227;
  width: 100%;
  height: 700px;
  padding: 20px;
  margin-bottom: 4%;
}
h4{
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 1.75rem;
  text-align: center;
}
.form-title{
  padding-left: 5px;
  margin-bottom: -12px;
  font-family: 'Anton', sans-serif;
  color: #555;
  font-size: 1.5rem;
}
form input{
  width: 100%;
  border: 0;
  border-radius: 5px;
}
form input[type="submit"]{
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;
  color: #eee;
  background: #232227; 
  border: 1px solid #fffa00;
  margin: 0 auto;
  width: 50%;
}
form input[type="submit"]:hover{
  background: #FEFD67;
  color: #000;
  border: 1px solid #FEFD67;
}
select{
  padding: 2px 0px;
  border: 0;
  border-radius: 5px;
}
/* workout cards */
.Workouts{
  padding-top: 20px;
  width: 70%;
  flex-wrap: wrap;
  background: #000;
  border-radius: 10px;
}
.workout-item{
  margin: 0 auto;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 95%;
  /* box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2); */
  padding: 2%;
  border-radius: 10px;
  height: 80px;
  margin-bottom: 1%;
  color: #eee;
  background: #232227;
}
.extra-info{
  margin: 0 auto;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 95%;
  /* box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2); */
  padding: 2%;
  border-radius: 0px 0px 10px 10px;
  height: 50px;
  margin-top: -2%;
  margin-bottom: 1%;
  color: #eee;
  background: #232227;
}
.container-cards-master{
  background: #232227;
}
h3{
  margin: 0;
  font-family: 'Anton', sans-serif;
}
.workout-item button{
  font-size: 0.8em;
  font-weight: 700;
  padding: 5px 1px;
  color: #000;
  border: 1px solid #000;
  background: #eee; 
}
.exercise{
  color: #555;
  font-size: 1.75rem;
  font-family: 'Anton', sans-serif;
}
#edit-btn{
  border-radius: 5px;
  padding: 3px 18.5px;
  border: 1px solid #fffa00;
  background: #232227;
  color: #eee;
  margin-bottom: 5px;
}
#del-btn{
  border-radius: 5px;
  padding: 3px 10px;
  border: 1px solid #fffa00;
  background: #232227;
  color: #eee;
}
#edit-btn:hover{
  /* animation-name: buttonAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
  background: #FEFD67;
  color: #000;
  border: 1px solid #FEFD67;
}
#del-btn:hover{
  background: #ee3e38;
  color: #eee;
  border: 1px solid #ee3e38;
}
.date{
  font-size: 1.75rem;
  font-family: 'Anton', sans-serif;
  color: #fffa00;
  margin-bottom: 0;
}
.time{
  margin: 0;
  margin-top: -7px;
}
.displayed-info{
  width: 25%;
}
.buttons{
  text-align: right;
  width: 25%;
}
.bottom-pic{
  width: 100%;
  /* width: 800px; */
}
/* details */

details{
  text-align: center;
  padding-bottom: 20px;
}

/* hidden */
.hidden{
  display: none !important;
}
/* edit modal */
.edit-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(0,0,0,0.8)
}
.editWorkoutForm{
  width: 100%;
  display:flex;
  justify-content: center;
}
.editWorkoutForm > form{
  margin-top: 2%;
  background: #232227;
  color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  justify-content: space-between;
  width: 25%;
  padding: 20px;
  margin-bottom: 4%;
}
.close-modal{
  display: flex;
  width: 98%;
  flex-direction: row-reverse;
  font-size: 1.2em;
  margin: 0;
  cursor: pointer;
}
/* userForm */

.userForm{
  color: #eee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #fffa00;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-bottom: 4%;
}
/* profile modal */
.profile-modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0,0,0,0.8)
}
.editProfileForm{
  padding: 20px;
  width: 20%;
  display:flex;
  justify-content: center;
  background: #232227;
  color: #eee;
  border-radius: 5px;
}
.editProfileForm form{
  width: 90%;
}
.editProfileForm input[type="submit"]{
  width: 50%;
  margin: 20px 25%;
}
#close-profile-modal{
  padding: 0px 0px 10px 0px;
  font-size: 1.2em;
}
/* .editProfileForm input{
  width: 50%;
  margin: 20px 25%;
} */
/* Section -- side nav */
section{
  border-right: 1px solid #555;
  padding: 20px;
  text-align: center;
  width: 27%;
}
.profille-form{
  color: #eee;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 390px;
  padding: 20px;
  margin-bottom: 4%;
}
.welcome{
  margin-top: 10px;
  color:#fffa00;
}
.username{
  margin-top: -5px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
}
form img{
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
#login{
  background: #000;
}
#login:hover{
  background: #FEFD67;
  border: 1px solid #FEFD67;
  color: #000;
}
.pic-div{
  margin: 20px 0px 10px 0px;
}
.height{
  color:#999;
  margin-top: 10px;
}
.weight{
  color:#999;
  margin-bottom: 20px;
}
.profile-pic{
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
summary{
  color: #fffa00;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-family: 'Anton', sans-serif;
}
/* edit profile button */
.edit-profile{
  width: 50%;
  border-radius: 5px;
  margin-bottom: 5px;
  background: #000;
  color: #fff;
  border: 1px solid #fffa00;
}
.edit-profile:hover{
  background: #FEFD67;
  border: 1px solid #FEFD67;
  color: #000;
}
/*  */
#edit-profile{
  margin-top: 20px;
}
/* footer nav  */
.footer-nav{
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  color: #666;
}
.footer-nav a{
  font-size: 1.3em;
  text-decoration: none;
  color: #555;

}
.footer-nav a:hover{
  color: 
  #fffa00;
}
.logout{
  width: 50%;
  border-radius: 5px;
  background: #000;
  color: #fff;
  border: 1px solid #fffa00;
}
.logout:hover{
  background: #FEFD67;
  border: 1px solid #FEFD67;
  color: #000;
}
/* index */

.index{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-image: url('https://i.ibb.co/SJbZZn6/logo-img.png');
  width: 100%;
}
.index-logo{
  margin-top: 5%;
  font-size: 7em;
}

/* hover button animation */
/* @keyframes buttonAnimation {
  0%{
    background: #fff;
  }
  100%{
    background: #f85327;
  }
} */
